#conteneur1
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#centre
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 92px;
	width: 272px;
	font-size: small;
	padding-top: 109px;

}

#conteneur3
{
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-around;
	font-family: arial, sans-serif;
	background-color: white 

}
